*{
  background-color: rgb(250, 243, 239);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  padding-top: 20px;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  color:seagreen
}
.img{
  display: flex;
  justify-content: flex-end;
  padding:10px;
  margin: 5px;
}
.list{
  display: grid;
	justify-content: flex-start;
	align-items: center;
	position: static;
  color: rebeccapurple;
  border-bottom:solid black 1px;
}
.head{
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top: double rgb(66, 116, 255) 10px;
  text-align: center;
  color:rgb(2, 107, 148)
}
.za{
display: block;  
margin-left: auto;  
margin-right: auto;  
padding-bottom: 10px; 
}
.recipe{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 15px;
  color:rgb(121, 48, 54)
}
.footer{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: red;
font-size: x-small;
}
